.custom-navbar-height {
    height: 100px;
  }
.image-size{
  width: 350px;
  margin-top: 20px;
  margin-left: 100px;
}
.fonts{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  